<form [formGroup]="logActivityForm">
    <h1 mat-dialog-title i18n="@@log.activity">Activity</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label i18n="@@log.description">Description</mat-label>
            <input type="text" matInput [matAutocomplete]="description" formControlName="description" cdkInitialFocus>
            <button type="button" mat-icon-button matSuffix (click)="clearDescription()" tabindex="-1">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-autocomplete #description="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelected($event)">
                @for (activityTemplate of filteredOptions$ | async; track $index) {
                    <mat-option [value]="activityTemplate">{{ activityTemplate.description }}</mat-option>
                }
            </mat-autocomplete>
            <mat-error>
                @if (logActivityForm.controls.description.errors?.['required']) {
                    <ng-container i18n="@@log.description-missing">Description is missing</ng-container>
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label i18n="@@log.temporal-amount">Temporal amount</mat-label>
            <button type="button" mat-icon-button matPrefix tabindex="-1" (click)="decAmount()">
                <mat-icon>remove</mat-icon>
            </button>
            <input type="number" min="-999" max="999" matInput formControlName="amount">
            <span matTextSuffix i18n="@@log.minutes">
                { logActivityForm.controls.amount.value, plural,
                    =1 {minute}
                    other {minutes}
                }
            </span>
            <button type="button" mat-icon-button matSuffix tabindex="-1" (click)="incAmount()">
                <mat-icon>add</mat-icon>
            </button>
            <mat-error>
                @if (logActivityForm.controls.amount.errors?.['required']) {
                    <ng-container i18n="@@log.temporal-amount-missing">Temporal amount is missing</ng-container>
                }
            </mat-error>
        </mat-form-field>
        @if (logActivityForm.controls.amount.value === 0) {
            <div>
                <mat-checkbox formControlName="confirmZero" i18n="@@log.confirm-zero-minutes">Really zero minutes?</mat-checkbox>
            </div>
        }
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="getActivity()" [disabled]="logActivityForm.invalid" i18n="@@log.ok">OK</button>
        <button mat-button type="button" (click)="dialogRef.close()" i18n="@@log.cancel">Cancel</button>
    </div>
</form>