<span matSnackBarLabel>
    <span class="heading">
        @switch (data.type) {
            @case (NotificationType.ERROR) {
                <mat-icon>error</mat-icon>
                <ng-container i18n="@@notification.error">An error occurred</ng-container>:
            }
            @case (NotificationType.INFO) {
                <mat-icon>info</mat-icon>
                <ng-container i18n="@@notification.info">Information</ng-container>:
            }
        }
    </span>
    <span class="message">{{data.message}}</span>
    @if (data.meta) {
        <span class="meta">{{data.meta}}</span>
    }
</span>
<span matSnackBarActions>
    <button mat-button matSnackBarAction (click)="snackBarRef.closeWithAction()" i18n="@@notification.ok">OK</button>
</span>