:host {
    display: flex;
}

.heading {
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 0.5rem;
}

.meta {
    margin-left: 1rem;
    font-style: italic;
    float: right;
    font-size: small;
}