@if (authenticationService.isAuthenticated| async) {
    @if (children$ | async; as children) {
        @for (child of children; track child.name) {
            <app-child-card
                [child]="child"
                [hideActions]="(isParent$ | async) === false"
                [hideLinks]="false"></app-child-card>
        }
    }
    @else {
        <mat-card>
            <mat-card-content>
                <mat-spinner></mat-spinner>
            </mat-card-content>
        </mat-card>
    }
}
@else {
    <mat-card>
        <mat-card-content class="login-hint">
            <div i18n="@@overview.not-authenticated">Not authenticated</div>
            <button type="button" mat-raised-button color="primary"
                routerLink="/login" i18n="@@overview.login">Login</button>
        </mat-card-content>
    </mat-card>
}