form {
    & mat-form-field {
        width: 100%;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox & Standard */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
