.item-amount {
    &::after {
        content: 'Min.';
    }
    &.positive {
        &::before {
            content: '+';
        }

        color: darkgreen;
    }
    &.negative {
        &::before {
            content: '-';
        }
    
        color: darkred;
    }

    font-weight: bolder;
}

mat-list-item:not(:last-child), button[mat-list-item]:not(:last-child) {
    border-bottom: 1px solid lightgray;
}
