<form [formGroup]="activityTemplateForm">
    <h1 mat-dialog-title i18n="@@activity-template-dialog.activity-template">Activity template</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label i18n="@@activity-template-dialog.description">Description</mat-label>
            <input type="text" matInput formControlName="description" cdkInitialFocus>
            <mat-error>
                @if (activityTemplateForm.controls.description.errors?.['required']) {
                    <ng-container i18n="@@activity-template-dialog.description-missing">Description is missing</ng-container>
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label i18n="@@activity-template-dialog.temporal-amount">Temporal amount</mat-label>
            <button type="button" mat-icon-button matPrefix tabindex="-1" (click)="decAmount()">
                <mat-icon>remove</mat-icon>
            </button>
            <input type="number" min="-999" max="999" matInput formControlName="amount">
            <span matTextSuffix i18n="@@activity-template-dialog.minutes">
                { activityTemplateForm.controls.amount.value, plural,
                    =1 {minute}
                    other {minutes}
                }
            </span>
            <button type="button" mat-icon-button matSuffix tabindex="-1" (click)="incAmount()">
                <mat-icon>add</mat-icon>
            </button>
            <mat-error>
                @if (activityTemplateForm.controls.description.errors?.['required']) {
                    <ng-container="@@activity-template-dialog.temporal-amount-missing">Temporal amount is missing</ng-container>
                }
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="getActivityTemplate()" [disabled]="activityTemplateForm.invalid" i18n="@@activity-template-dialog.ok">OK</button>
        <button mat-button type="button" (click)="dialogRef.close()" i18n="@@activity-template-dialog.cancel">Cancel</button>
        
        @if (data.activityTemplate?.id) {
            <button mat-button type="button" color="warn" class="btn-delete" [disabled]="wantDelete" (click)="wantDelete = true" i18n="@@activity-template-dialog.delete">Delete</button>
        }
    </div>
    @if (wantDelete) {
        <div mat-dialog-actions>
            @if (data.activityTemplate?.id) {
                <button mat-button type="submit" color="warn" [mat-dialog-close]="null" class="btn-delete" i18n="@@activity-template-dialog.really-delete">Really delete</button>
            }
        </div>
    }
</form>