mat-list-item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.item-balance-positive {
    & mat-icon, & .item-balance {
        color: darkgreen;
    }
}

.item-balance-negative {
    & mat-icon, & .item-balance {
        color: darkred;
    }
}

.item-balance {
    &::before {
        margin-right: 0.25em;
    }
    &::after {
        content: ' Min.';
    }
    &.positive {
        &::before {
            content: '+';
        }
    }
    &.negative {
        &::before {
            content: '-';
        }
    }

    float: right;
    font-weight: bolder;
}

.chart-container {
    position: relative;
    height: 180px;
    width: 100%;
}