<app-child-card
    [child]="child_"
    [hideActions]="true"
    [hideLinks]="true"></app-child-card>

@if (chart_) {
    <div class="chart-container">
        <canvas baseChart
            type="bar"
            [labels]="chart_.labels"
            [datasets]="chart_.datasets"
            [options]="chart_.options"
            ></canvas>
    </div>
}

<mat-list>
@for(item of trend_; track item.date) {
    <mat-list-item [ngClass]="{'item-balance-positive': item.balance > 0, 'item-balance-negative': item.balance < 0}">
        <mat-icon matListItemIcon>
            @if (item.balance > 0) { trending_up } @else if (item.balance < 0) { trending_down } @else { trending_flat }
        </mat-icon>
        <div matListItemTitle>{{ item.date | date:'shortDate' }}
            <span class="item-balance"
                [ngClass]="{positive: item.balance > 0, negative: item.balance < 0}">{{ item.balance >= 0 ? item.balance : -item.balance }}</span>
        </div>
    </mat-list-item>
}
</mat-list>
