<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-form-field>
        <mat-label i18n="@@change-password.old-password">Old password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" cdkFocusInitial>
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" tabindex="-1">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
            @if (changePasswordForm.controls.password.errors?.['required']) {
                <ng-container i18n="@@change-password.old-password-missing">Please provide old password</ng-container>
            }
        </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
        <mat-label i18n="@@change-password.new-password">New password</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" minlength="6">
        <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword" tabindex="-1">
            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
            @if (changePasswordForm.controls.newPassword.errors?.['required']) {
                <ng-container i18n="@@change-password.new-password-missing">Please enter a new password</ng-container>
            }
            @else if (changePasswordForm.controls.newPassword.errors?.['minlength']) {
                <ng-container i18n="@@change-password.new-password-minlength">At least {{ changePasswordForm.controls.newPassword.errors?.['minlength']['requiredLength'] }}
                { changePasswordForm.controls.newPassword.errors?.['minlength']['requiredLength'], plural,
                    =1 {character}
                    other {characters}
                } required</ng-container>
            }
            @else if (changePasswordForm.controls.newPassword.errors?.['passwordsNotMatching']) {
                <ng-container i18n="@@change-password.passwords-not-matching">The passwords don't match</ng-container>
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Neues Passwort (bestätigen)</mat-label>
        <input matInput [type]="hideNewPasswordConfirm ? 'password' : 'text'" formControlName="newPasswordConfirm" minlength="6">
        <button mat-icon-button matSuffix type="button" (click)="hideNewPasswordConfirm = !hideNewPasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPasswordConfirm" tabindex="-1">
            <mat-icon>{{hideNewPasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
            @if (changePasswordForm.controls.newPasswordConfirm.errors?.['required']) {
                <ng-container i18n="@@change-password.new-password-missing">Please enter a new password</ng-container>
            }
            @else if (changePasswordForm.controls.newPasswordConfirm.errors?.['minlength']) {
                <ng-container i18n="@@change-password.new-password-minlength">At least {{ changePasswordForm.controls.newPasswordConfirm.errors?.['minlength']['requiredLength'] }}
                { changePasswordForm.controls.newPasswordConfirm.errors?.['minlength']['requiredLength'], plural,
                    =1 {character}
                    other {characters}
                } required</ng-container>
            }
            @else if (changePasswordForm.controls.newPasswordConfirm.errors?.['passwordsNotMatching']) {
                <ng-container i18n="@@change-password.passwords-not-matching">The passwords don't match</ng-container>
            }
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="changePasswordForm.invalid" i18n="@@change-password.change-password">Change password</button>
</form>