form {
    & mat-form-field, & mat-divider {
        width: 80%;
        max-width: 500px;
    }

    & mat-divider {
        margin-bottom: 1rem;
    }

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
