<mat-toolbar color="primary">
  @if (navigationService.isBackAvailable$ | async) {
  <button type="button" mat-icon-button (click)="navigationService.goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  }
  <span class="title">{{titleStrategy.title}}</span>
  @if (authenticationData$ | async; as authenticationData) {
    @if (authenticationData.isAuthenticated) {
      <button type="button" mat-mini-fab class="avatar" [matMenuTriggerFor]="menu">
        @if (authenticationData.roleIcon) {
          <mat-icon>{{ authenticationData.roleIcon }}</mat-icon>
        }
        @else if (authenticationData.initials) {
          <div class="initials">{{ authenticationData.initials }}</div>
        }
        @else {
          <mat-icon>person</mat-icon>
        }
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          @if (authenticationData.roleIcon) {
            <mat-icon>{{ authenticationData.roleIcon }}</mat-icon>
          }
          @else if (authenticationData.initials) {
            <mat-icon>{{ authenticationData.initials | uppercase }}</mat-icon>
          }
          @else {
            <mat-icon>person</mat-icon>
          }
          <span>{{ authenticationData.name }}</span>
        </button>
        <button type="button" mat-menu-item routerLink="/password">
          <mat-icon>password</mat-icon>
          <span i18n="@@user-menu.change-password">Change password</span>
        </button>
        <button type="button" mat-menu-item routerLink="/activity-templates">
          <mat-icon>local_activity</mat-icon>
          <span i18n="@@user-menu.activity-templates">Activity templates</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span i18n="@@user-menu.logout">Logout</span></button>
      </mat-menu>
    }
    @else if (!navigationService.isLoginComponent) {
      <button type="button" mat-mini-fab class="avatar" routerLink="/login">
        <mat-icon>login</mat-icon>
      </button>
    }
  }
</mat-toolbar>

<router-outlet></router-outlet>
