// @import '~@angular/material/theming';

$colors: #6b5b95,#a2b9bc,#feb236,#d64161,#ff7b25,#b2ad7f,#878f99;

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.avatar {
  &, &:focus {
    transition: none;
    box-shadow: none;
  }
}

:host ::ng-deep body {
  min-width: 160px;
}