<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
        <mat-label i18n="@@login.username">Username</mat-label>
        <input matInput formControlName="username" cdkFocusInitial>
        <mat-error>
            @if (loginForm.controls.username.errors?.['required']) {
                <ng-container i18n="@@login.username-missing">Please enter a username</ng-container>
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n="@@login.password">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keypress)="onEnter($event)">
        <button mat-icon-button matSuffix (click)="togglePassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" tabindex="-1">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
            @if (loginForm.controls.password.errors?.['required']) {
                <ng-container i18n="@@login.password-missing">Please enter a password</ng-container>
            }
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" i18n="@@login.login">Login</button>
</form>