mat-card {
    width: 90%;
    margin: 1rem auto;
    
    &.negative-balance {
        background-color: #ffaaaa;
        & .balance {
            background-color: red;
            color: white;
        }
    }
}

mat-card-header {
    font-size: x-large;
    font-weight: 500;
    align-self: center;
    margin-bottom: 1rem;
}

mat-card-content {
    align-self: center;
    font-size: x-large;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    &.small-screen {
        flex-direction: column-reverse;
    }

    & button {
        margin: 0 1rem;
    }
}

mat-card-actions {
    margin-top: 0.5rem;

    & button {
        width: 50%;
        margin: 0 0.25rem;
    }
    & mat-divider {
        height: 2rem;
    }
}

.mat-btn-remove {
    background-color: red;
    color: white;
}

.mat-btn-add {
    background-color: lightseagreen;
    color: white;
}

.balance {
    text-wrap: nowrap;
    background-color: lightcyan;
    padding: 0.5rem;
    border-radius: 0.5rem;
    // box-shadow: 1px 2px 2px;
}
