@if (child_) {
    <mat-card [ngClass]="{'negative-balance': (child_.balance ?? 0) < 0}">
        <mat-card-header>{{child_.displayName}}</mat-card-header>
        <mat-card-content [ngClass]="{'small-screen': (isSmallScreen$ | async)}">
                @if (!hideActions_) {
                    <button mat-fab type="button" color="btn-remove" (click)="logActivity(NEGATIVE)"><mat-icon>remove</mat-icon></button>
                }
                <span class="balance">{{child_.balance}} Min.</span>
                @if (!hideActions_) {
                    <button mat-fab type="button" color="btn-add" (click)="logActivity(POSITIVE)"><mat-icon>add</mat-icon></button>        
                }
        </mat-card-content>
        @if (!hideLinks_) {
        <mat-card-actions>
            <button mat-button type="button" [routerLink]="['/' + child_.name + '/activities']">
                <mat-icon>history</mat-icon>
                @if ((isSmallScreen$ | async) === false) { <ng-container i18n="@@child.past-activities">History</ng-container> }
            </button>
            <mat-divider [vertical]="true"></mat-divider>
            <button mat-button type="button" [routerLink]="['/' + child_.name + '/trend']">
                <mat-icon>trending_up</mat-icon>
                @if ((isSmallScreen$ | async) === false) { <ng-container i18n="@@child.trend">Trend</ng-container> }
            </button>
        </mat-card-actions>
        }
    </mat-card>
} @else {
    <mat-card>
        <mat-card-content>
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </mat-card>
}
