<mat-list>
@for (activity of activities_; track activity.id) {
    <mat-list-item>
        <span matListItemTitle>
            <span class="item-amount"
                [ngClass]="{positive: activity.amount >= 0, negative: activity.amount < 0}">
                {{ activity.amount >= 0 ? activity.amount : -activity.amount }}
            </span>
            - {{ activity.description ?? 'Saldo' }}
        </span>
        <span matListItemLine class="item-meta">
            @if (activity.parent) {
                {{ activity.parent.name }} /
            }
            @if (activity.description) {
                {{ activity.timestamp | date:'medium' }}
            }
            @else {
                {{ activity.timestamp | date:'mediumDate' }}
            }
        </span>
    </mat-list-item>
}
</mat-list>