<div>
    @if (isParent$ | async) {
        <mat-action-list>
            @for (activityTemplate of activityTemplates$ | async; track activityTemplate.id) {
                <button mat-list-item (click)="activityTemplateClicked(activityTemplate)">
                    <span matListItemTitle>
                        <span class="item-amount"
                            [ngClass]="{positive: activityTemplate.amount >= 0, negative: activityTemplate.amount < 0}">
                            {{ activityTemplate.amount >= 0 ? activityTemplate.amount : -activityTemplate.amount }}
                        </span>
                        - {{ activityTemplate.description }}
                    </span>
                </button>
            }
        </mat-action-list>
        <button class="btn-add" mat-fab color="primary" (click)="activityTemplateClicked(undefined)">
            <mat-icon>add</mat-icon>
        </button>
    }
    @else {
        <mat-list>
            @for (activityTemplate of activityTemplates$ | async; track activityTemplate.id) {
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="item-amount"
                            [ngClass]="{positive: activityTemplate.amount >= 0, negative: activityTemplate.amount < 0}">
                            {{ activityTemplate.amount >= 0 ? activityTemplate.amount : -activityTemplate.amount }}
                        </span>
                        - {{ activityTemplate.description }}
                    </span>
                </mat-list-item>
            }
        </mat-list>
    }
</div>