@if (childData$ | async ; as childData) {
    @if (childData.child) {
        <app-child-card
            [child]="childData.child"
            [hideActions]="true"
            [hideLinks]="true"></app-child-card>
        <app-activity-list
            [activities]="childData.activities"></app-activity-list>
    }
    @else {
        <mat-card>
            <mat-card-content i18n="@@activities.view-failed">Could not load history</mat-card-content>
        </mat-card>
    }
}
@else {
    <mat-card>
        <mat-card-content>
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </mat-card>
}