@if (childData$ | async ; as childData) {
    @if (childData.child) {
        <app-child-card
            [child]="childData.child"
            [hideActions]="(isParent$ | async) === false"
            [hideLinks]="true"></app-child-card>

        @if (childData.activities) {
        <app-activity-list
            [activities]="childData.activities"></app-activity-list>
        }
    }
    @else {
        <mat-card>
            <mat-card-content i18n="@@child.view-failed">Could not load view</mat-card-content>
        </mat-card>    
    }
}
@else {
    <mat-card>
        <mat-card-content>
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </mat-card>
}